<nav class="navbar navbar-expand-lg">
  <a [routerLink]="['/home']" class='navbar-brand'>Gertara</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
    aria-label="Toggle navigation" (click)="collapseNavbar()">
    <i class="fas fa-bars"></i>
  </button>
  <div class="navbar-collapse {{collapse}}" id="mainNav">
    <ul class="nav flex-column">
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fas fa-home"></i> {{ "HOME" | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
